{% extends 'base.html' %}
{% load static %}

{% block banner %} 
	<!-- Automatic Slideshow Images -->
	<div class="mySlides w3-display-container w3-center w3-teal" style="max-height: 400px; overflow: hidden;">
	  <img src="{% static 'img/bg_1.png' %}" style="width:100%;">
	  <div class="w3-display-middle w3-container w3-text-white w3-hide-small background-opacity-teal">
	    <h1 style="font-size:3vw"><b>Лучьшие технологии</b></h1>
	    <p style="font-size:1.5vw">Компания ОВЕН разработала самые лучьшие в мире блоки для управления микроклиматом.</p>   
	  </div>
	</div>
	<div class="mySlides w3-display-container w3-center w3-teal" style="max-height: 400px; overflow: hidden;">
	  <img src="{% static 'img/bg_2.png' %}" style="width:100%;">
	  <div class="w3-display-middle w3-container w3-text-white w3-hide-small background-opacity-teal">
	    <h1 style="font-size:3vw"><b>Микроклимат для ваших курей</b></h1>
	    <p style="font-size:1.5vw">Современные технологии содержания курей позволяют добиться невероятного прироста веса птицы.</p>    
	  </div>
	</div>
	<div class="mySlides w3-display-container w3-center w3-teal" style="max-height: 400px; overflow: hidden;">
	  <img src="{% static 'img/bg_3.png' %}" style="width:100%;">
	  <div class="w3-display-middle w3-container w3-text-white w3-hide-small background-opacity-teal">
	    <h1 style="font-size:3vw"><b>Комплексные поставки</b></h1>
	    <p style="font-size:1.5vw">Комплексные поставки периферии. Компания предлагает вентиляторы, клапаны, и т.д. </p>    
	  </div>
	</div>
{% endblock %}

