{% extends 'base.html' %}
{% load static %}

{% block banner %} 
<div class="w3-display-container animate">
	<!-- Automatic Slideshow Images -->
	<div class="mySlides animate-opacity w3-animate-zoom w3-display-container w3-center w3-teal">
	  <img src="{% static 'img/banner1.jpg' %}" style="width:100%;">
	</div>

	<div class="mySlides animate-opacity w3-animate-zoom w3-display-container w3-center w3-teal">
	  <img src="{% static 'img/banner2.jpg' %}" style="width:100%;">
	</div>

	<div class="mySlides animate-opacity w3-animate-zoom w3-display-container w3-center w3-teal">
	  <img src="{% static 'img/banner3.jpg' %}" style="width:100%;">
	</div>

	<!-- control buttons -->
	<button class="animate-left w3-button w3-display-left background-opacity-teal hover-background-opacity-teal w3-xxlarge" onclick="plusDivs(-1)">&#10094;</button>
	<button class="animate-right w3-button w3-display-right background-opacity-teal hover-background-opacity-teal w3-xxlarge" onclick="plusDivs(+1)">&#10095;</button>

</div>

{% endblock %}

{% block banner_script %}
	<script type="text/javascript">
		var TIMEOUT = 5000; // period for automation chande image

		var slideIndex = 0;
		showDivs(slideIndex);
		carousel();
		var carousel_thread;
		
		// manual chande image - by buttons
		function plusDivs(n) {
		  showDivs(slideIndex += n);
		  // reset automation change timout
		  clearTimeout(carousel_thread);
 		  carousel_thread = setTimeout(carousel, TIMEOUT);
		}

		// automation chande image
		function carousel() {
		  showDivs(slideIndex += 1);
		  carousel_thread = setTimeout(carousel, TIMEOUT);    
		}

		// image control
		function showDivs(n) {
		  var i;
		  var x = document.getElementsByClassName("mySlides");
		  if (n > x.length) {slideIndex = 1}
		  if (n < 1) {slideIndex = x.length} ;
		  for (i = 0; i < x.length; i++) {
		    x[i].style.display = "none";
		  }
		  x[slideIndex-1].style.display = "block";
		}
	</script>
{% endblock %}