{% load static %}

<!DOCTYPE html>
<html lang="ru-RU">

<head>
	<title>{% block title %} Owen Agriculture {% endblock %}</title>
	<link rel="shortcut icon" type="image/png" href="{% static 'img/owen.ico' %}" />
	<meta charset="UTF-8">

	<!-- W3.CSS style    https://www.w3schools.com/w3css/default.asp -->
	<meta name="viewport" content="width=device-width, initial-scale=1">	
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

	<!-- fonts -->
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

	<!-- my style -->
	<link rel="stylesheet" href="{% static 'base_style.css' %}">
</head>
<body>
	<!-- Navbar -->
	<div class="w3-top">
	  <div class="w3-bar w3-teal w3-card w3-left-align w3-large">

		<!-- Navbar on small screens -->
		<div class="w3-hide-medium w3-hide-large">
			<!-- logo -->
		    <div class="w3-bar-item w3-padding" >    
			    <a href="{% url 'home' %}"><img src="{% static 'img/logo_2.png' %}" style="height:40px;"></a>
			</div>
			<!-- hamburger icon -->
			<a class="w3-button w3-right w3-padding-large w3-hover-dark-teal w3-xlarge w3-teal" href="javascript:void(0);" onclick="myFunction()" title="Toggle Navigation Menu"><i class="fa fa-bars"></i></a>
		</div>

		<!-- Navbar on middle and large screens -->
		<div class="w3-hide-small">
			<!-- logo -->
		    <div class="w3-bar-item w3-padding" style="width:430px">    
			    <a href="{% url 'home' %}"><img src="{% static 'img/logo_1.png' %}" style="height:40px;"></a>
			</div>
		    <!-- bar items -->
		    <div class="w3-cell-row w3-hide-small" style="width: calc(100% - 430px)">
			    <a href="{% url 'products:poultry_catalog' %}" class="hide-5 w3-cell w3-button w3-padding-16 w3-hover-dark-teal" style="">Птицеводство</a>
			    <a href="{% url 'products:pigsty_catalog' %}" class="hide-5 w3-cell w3-button w3-padding-16 w3-hover-dark-teal" style="">Свиноводство</a>
			    <a href="{% url 'projects:projects_list' %}" class="hide-4 w3-cell w3-button w3-padding-16 w3-hover-dark-teal" style="">Проекты</a>
			    <a href="{% url 'news:news_list' %}" class="hide-3 w3-cell w3-button w3-padding-16 w3-hover-dark-teal" style="">Новости</a>
			    <a href="{% url 'contacts' %}" class="hide-2 w3-cell w3-button w3-padding-16 w3-hover-dark-teal" style="">Контакты</a>    
			    <a href="{% url 'about' %}" class="hide-1 w3-cell w3-button w3-padding-16 w3-hover-dark-teal" style="">О компании</a>

			   	<!-- hamburger icon -->
				<a class="hide-0 w3-button w3-right w3-padding-large w3-hover-dark-teal w3-xlarge w3-teal" href="javascript:void(0);" onclick="myFunction()" title="Toggle Navigation Menu"><i class="fa fa-bars"></i></a>
		    </div>
		</div>
	  </div>

	  <!-- dropdown menu -->
	  <div id="navDemo" class="hide-0 w3-bar-block w3-white w3-hide w3-large w3-teal w3-border-top w3-border-bottom">
	    <a href="{% url 'products:poultry_catalog' %}" class="w3-bar-item w3-button w3-hover-dark-teal w3-padding-large">Птицеводство</a>
	    <a href="{% url 'products:pigsty_catalog' %}" class="w3-bar-item w3-button w3-hover-dark-teal w3-padding-large">Свиноводство</a>
	    <a href="{% url 'projects:projects_list' %}" class="w3-bar-item w3-button w3-hover-dark-teal w3-padding-large">Проекты</a>
	    <a href="{% url 'news:news_list' %}" class="w3-bar-item w3-button w3-hover-dark-teal w3-padding-large">Новости</a>
	    <a href="{% url 'contacts' %}" class="w3-bar-item w3-button w3-hover-dark-teal w3-padding-large">Контакты</a>
	    <a href="{% url 'about' %}" class="w3-bar-item w3-button w3-hover-dark-teal w3-padding-large">О компании</a>
	  </div>
	</div>

	<!-- Banner -->
	<div style="margin-top:59px;"> 
		{% block banner %}{% endblock %} 
	</div>

	<!-- Content -->
	<div class="w3-content" style="max-width:1140px; min-height: 300px;">  
		{% block content %}
			<p class="w3-container">base.html</p>
		{% endblock %} 
	</div>


	<!-- Footer -->
	<div class="w3-container w3-teal" style="padding-top:20px; min-height: 210px" >
		<div class="w3-content w3-row" style="max-width:1400px;"> 
			<div class="w3-container w3-third" >
				<h4>КОНТАКТЫ</h4>
			    <div class=" w3-margin-bottom">
			        <i class="fa fa-map-marker fa-fw w3-hover-text-black w3-xlarge w3-margin-right"></i> 1-я ул. Энтузиастов, д. 15, стр. 1<br>
			        <i class="fa fa-phone fa-fw w3-hover-text-black w3-xlarge w3-margin-right"></i> Тел.: +7 (495) 64-111-56<br>
			        <i class="fa fa-envelope fa-fw w3-hover-text-black w3-xlarge w3-margin-right"></i> E-mail: sales@owen.ru<br>
			    </div>			
			</div>
			<div class="w3-container w3-third w3-center" >
				<h4>ОВЕН В СОЦИАЛЬНЫХ СЕТЯХ</h4>
				<div class="w3-xlarge w3-section">
				    <i class="fa fa-facebook-official w3-hover-opacity"></i>
				    <i class="fa fa-instagram w3-hover-opacity"></i>
				    <i class="fa fa-snapchat w3-hover-opacity"></i>
				    <i class="fa fa-pinterest-p w3-hover-opacity"></i>
				    <i class="fa fa-twitter w3-hover-opacity"></i>
				    <i class="fa fa-linkedin w3-hover-opacity"></i>
				</div>				
			</div>
			<div class="w3-container w3-third w3-center" >
				<h4>###</h4>
			</div>	
		</div>			
	</div>


	{% block banner_script %} {% endblock %}

	<script>
		// Used to toggle the menu on small screens when clicking on the menu button
		function myFunction() {
		  var x = document.getElementById("navDemo");
		  if (x.className.indexOf("w3-show") == -1) {
		    x.className += " w3-show";
		  } else { 
		    x.className = x.className.replace(" w3-show", "");
		  }
		}
	</script>
</body>
</html>