{% load static %}
{% load django_bootstrap_breadcrumbs %}

{% block breadcrumbs %}
    {% clear_breadcrumbs %}
{% endblock %}

<!DOCTYPE html>
<html lang="ru-RU">

<head>
	<title>{% block title %} Owen Agriculture {% endblock %}</title>
	<link rel="shortcut icon" type="image/png" href="{% static 'img/owen.ico' %}" />
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
  	<meta property="og:image" content="{% static 'img/og_image.jpg' %}" />
  	<meta property="og:title" content="ОВЕН Животноводство">
  	<meta property="og:description" content="Системы микроклимата для животноводства">

	<!-- fonts -->
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

	<!-- jQuery -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

	<!-- W3.CSS style    https://www.w3schools.com/w3css/4/w3.css     https://www.w3schools.com/w3css  -->
	<link rel="stylesheet" href="{% static 'css/w3.css' %}">

	<!-- Bootstrap  -->
  	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

	<!-- my style -->
	<link rel="stylesheet" href="{% static 'css/base_style.css' %}">
	<link rel="stylesheet" href="{% static 'css/breadcrumbs.css' %}">
	<link rel="stylesheet" href="{% static 'css/text-editor-extending-style.css' %}">
	<!-- my fonts -->
	<link rel="stylesheet" href="{% static 'css/topic-icons.css' %}">

</head>

<body class="text-dark" {% block scrollable %}{% endblock %}>
	<!-- Navbar -->
	<div class="d-none d-md-inline-block">{% include "navbar.html" %}</div>
	<div class="d-md-none">{% include "navbar_small_scrin.html" %}</div>

	<!-- Banner -->
	<div> 
		{% block banner %}{% endblock %} 
	</div>

	<!-- breadcrumbs -->
	{% render_breadcrumbs %}

	<!-- Content -->
	<div class="w3-content base-content-width base-content-height">  
		{% block content %}
			<p class="w3-container">base.html</p>
		{% endblock %} 
	</div>

	{% include "footer.html" %}

	{% block sticky_sidebar_script %} {% endblock %}
</body>
</html>
