{% load static %}

<!DOCTYPE html>
<html lang="ru-RU">

<head>
	<title>Owen Agriculture</title>
	<link rel="shortcut icon" type="image/png" href="{% static 'img/owen.ico' %}" />
	<meta charset="UTF-8">

	<!-- W3.CSS style    https://www.w3schools.com/w3css/default.asp -->
	<meta name="viewport" content="width=device-width, initial-scale=1">	
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

	<!-- fonts -->
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

	<!-- override color scheme -->
	<style>
		.w3-teal, .w3-hover-teal:hover {
			color: #fff !important; 
			background-color: rgb(0, 143, 134) !important; }
		.w3-dark-teal, .w3-hover-dark-teal:hover {
			color: #fff !important; 
			background-color: rgb(27, 107, 101) !important; }
	</style>
</head>
<body>
	<!-- Navbar -->
	<div class="w3-top">
	  <div class="w3-bar w3-teal w3-card w3-left-align w3-large">
		<a class="w3-bar-item w3-button w3-hide-large w3-right w3-padding-large w3-hover-dark-teal w3-xlarge w3-teal" href="javascript:void(0);" onclick="myFunction()" title="Toggle Navigation Menu"><i class="fa fa-bars"></i></a>

	    <div class="w3-bar-item w3-padding" style="width:28%">    
		    <a href="{% url 'home' %}" class="w3-hide-small"><img src="{% static 'img/logo_1.png' %}" style="height:40px;"></a>
		    <a href="{% url 'home' %}" class="w3-hide-medium w3-hide-large"><img src="{% static 'img/logo_2.png' %}" style="height:40px;"></a>
		</div>

	    <div class="w3-hide-small w3-hide-medium">
		    <a href="{% url 'poultry_home' %}" class="w3-bar-item w3-button w3-padding-16 w3-hover-dark-teal" style="width:12%">Птицеводство</a>
		    <a href="{% url 'pigsty_home' %}" class="w3-bar-item w3-button w3-padding-16 w3-hover-dark-teal" style="width:12%">Свиноводство</a>
		    <a href="{% url 'projects' %}" class="w3-bar-item w3-button w3-padding-16 w3-hover-dark-teal" style="width:12%">Проекты</a>
		    <a href="{% url 'news' %}" class="w3-bar-item w3-button w3-padding-16 w3-hover-dark-teal" style="width:12%">Новости</a>
		    <a href="{% url 'contacts' %}" class="w3-bar-item w3-button w3-padding-16 w3-hover-dark-teal" style="width:12%">Контакты</a>    
		    <a href="{% url 'about' %}" class="w3-bar-item w3-button w3-padding-16 w3-hover-dark-teal" style="width:12%">О компании</a>
	    </div>
	  </div>

	  <!-- Navbar on small screens -->
	  <div id="navDemo" class="w3-bar-block w3-white w3-hide w3-hide-large w3-large">
	    <a href="#" class="w3-bar-item w3-button w3-padding-large">Птицеводство</a>
	    <a href="#" class="w3-bar-item w3-button w3-padding-large">Свиноводство</a>
	    <a href="#" class="w3-bar-item w3-button w3-padding-large">Проекты</a>
	    <a href="#" class="w3-bar-item w3-button w3-padding-large">Новости</a>
	    <a href="#" class="w3-bar-item w3-button w3-padding-large">О компании</a>
	    <a href="#" class="w3-bar-item w3-button w3-padding-large">Контакты</a>
	  </div>
	</div>

	<!-- Banner -->
	<div style="margin-top:59px;"> 
		{% block banner %}{% endblock %} 
	</div>

	<!-- Content -->
	<div> 
		{% block content %}
			<p class="w3-container">base.html</p>
		{% endblock %} 
	</div>



	<script>
	// Used to toggle the menu on small screens when clicking on the menu button
	function myFunction() {
	  var x = document.getElementById("navDemo");
	  if (x.className.indexOf("w3-show") == -1) {
	    x.className += " w3-show";
	  } else { 
	    x.className = x.className.replace(" w3-show", "");
	  }
	}
	</script>
</body>
</html>