{% load static %}

<footer class='w3-teal mainFooter'>
<div class="w3-content base-content-width">
<div class='row p-3' >
	<div class="col-lg-4 d-lg-flex justify-content-center p-0 border-hide-md" style="min-height: 100px">
		<div class="px-3 py-2 h-100 text-nowrap">
			<a href="https://owen.ru/" target="_blank">
				<img class="align-bottom" src="{% static 'img/logo-owen-white.svg' %}" style="height:30px; padding-right: 6px">
				<img class="align-bottom" src="{% static 'img/slogan-owen-white.svg' %}" style="height:28px;">
			</a>
			<p class="pl-1 mt-2">
				<a class="w3-text-white" href="https://owen.ru/">www.owen.ru</a> <br/>
				E-mail: sales@owen.ru <br>
				1-я ул. Энтузиастов, д. 15, стр. 1
			</p>
		</div>		
	</div>
	<div class="d-lg-none w-100 w3-border-bottom mx-3"></div>

	<div class="col-lg-4 d-lg-flex justify-content-center p-0 w3-border-left w3-border-right border-hide-md" style="min-height: 100px">
		<div class="px-3 py-2 h-100 text-nowrap">
			<h4>Отдел продаж</h4>
			<p>
			Тел.: +7(495) 64-111-56 доб. 2302 <br/>
			Моб.: +7(962) 302-69-16 <br/>
			E-mail: a.bakun@owen.ru
			</p>
		</div>		
	</div>
	<div class="d-lg-none w-100 w3-border-bottom mx-3"></div>

	<div class="col-lg-4 d-lg-flex justify-content-center p-0  border-hide-md" style="min-height: 100px">
		<div class="px-3 py-2 h-100 text-nowrap">
			<h4>Техническая поддержка</h4>
			<p>
			Тел.: +7 (495) 64-111-56 доб. 2301 <br/>
			Моб.: +7 (962) 302-68-75 <br/>
			Skype: r.gomonilov_owen <br/>
			E-mail: r.gomonilov@owen.ru
			</p>
		</div>
	</div>
	<div class="d-lg-none w-100 w3-border-bottom mx-3"></div>
</div>
</div>
</footer>