{% load static %}

<div class="fixed-top w3-white">
<div class="w3-content p-2 base-content-width">
	<div class="d-flex">
		<div class="mr-auto">
			<a href="{% url 'home' %}" style="text-decoration: none;">
				<img src="{% static 'img/logo-dark.svg' %}" style="height:38px; padding-top: 2px">
			</a>
		</div>
		<div class="d-none d-md-inline-block text-dark px-2">
			<p class="p-0 m-0">Центральный офис: <b class="text-dark-teal">+7 (495) 64-111-56</b></p>
			<p class="w3-small p-0 m-0">E-mail: <a class="w3-text-teal" href="mailto:sales@owen.ru">sales@owen.ru</a></p>
		</div>
	</div>
</div>
</div>

<nav class="fixed-top w3-teal" style="margin-top: 55px;">
<div class="d-md-flex justify-content-center">
	<div class="d-md-flex flex-md-row justify-content-center w-100 px-2 base-content-width">
		<a class="w3-button w3-large w3-text-light-grey w3-hover-dark-teal w-100 p-1 text-nowrap" style="text-decoration: none; max-width: 100%;" href="{% url 'products:poultry_catalog' %}">Птицеводство</a>
		<a class="w3-button w3-large w3-text-light-grey w3-hover-dark-teal w-100 p-1 text-nowrap" style="text-decoration: none; max-width: 100%;" href="{% url 'products:pigsty_catalog' %}">Свиноводство</a>
		<a class="w3-button w3-large w3-text-light-grey w3-hover-dark-teal w-100 p-1 text-nowrap" style="text-decoration: none; max-width: 100%;" href="{% url 'projects:projects_list' %}">Проекты</a>
		<a class="w3-button w3-large w3-text-light-grey w3-hover-dark-teal w-100 p-1 text-nowrap" style="text-decoration: none; max-width: 100%;" href="{% url 'news:news_list' %}">Новости</a>
		<a class="w3-button w3-large w3-text-light-grey w3-hover-dark-teal w-100 p-1 text-nowrap" style="text-decoration: none; max-width: 100%;" href="{% url 'contacts' %}">Контакты</a>
		<a class="w3-button w3-large w3-text-light-grey w3-hover-dark-teal w-100 p-1 text-nowrap" style="text-decoration: none; max-width: 100%;" href="{% url 'about' %}">О компании</a>
	</div>
</div>
</nav>
<div class="d-md-none" style="height: 203px"></div>
<div class="d-none d-md-inline-block" style="height: 83px"></div>