{% extends 'base_with_banner.html' %}


{% block title %} Owen Agriculture - Новости {% endblock %}


{% block content %} 
	{% if news_list %}
		{% for article in news_list %}
		<a href="{% url 'news:news_detail' article.id %}" style="text-decoration: none;" >
			<div class="w3-panel  w3-card-2 w3-padding w3-bottombar w3-topbar w3-border-white w3-hover-border-blue">	
				<div clss="w3-row ">
					{% if article.image %}
						<div class="w3-quarter" style="">
							<div class="w3-display-container w3-white " style="height: 200px;">
								<img src="{{article.image.url}}" alt="{{article.header}}" class="w3-display-middle" style="max-width: 90%; max-height: 90%">
							</div>
						</div>
					{% endif %}
					<div class="w3-rest">
						<h2 class="w3-xlarge">{{article.header}}</h2>
						<p class="w3-medium">{{article.short_description}}</p>
					</div>
				</div>
			</div>
		</a>
		{% endfor %}
	{% else %}
		<br>
		<p class="w3-panel  w3-card-2 w3-pale-red" style="height: 60px;">Нвости не найдены</p>
	{% endif %}
	
{% endblock %}