{% extends 'base_with_banner.html' %}


{% block title %} Owen Agriculture - О компании {% endblock %}

{% block content %} 
<div class="w3-content" style="max-width:990px;"> 

    <div class="w3-container">
 		<h2>27 лет на рынке автоматизации</h2>
		<p>Компания ОВЕН – ведущий российский разработчик и производитель контрольно-измерительных приборов и средств автоматизации для различных отраслей промышленности.</p>  

		<p>Компания работает с 1991 года. За 27 лет тысячи предприятий автоматизировали свои технологические процессы, используя компоненты автоматики ОВЕН. Продукция ОВЕН применяется в машиностроении и металлургии, химических и нефтехимических производствах, строительной и деревообрабатывающей отраслях, пищевой и упаковочной промышленностях, медицине, энергетике, ЖКХ, сельском хозяйстве и других сферах.</p>
    </div>

    <div class="w3-container">
		<h2>Лидер рынка</h2>
 		<ul class="w3-padding" style="list-style-type:disc;">
			<li>Более 200 наименований продукции для различных отраслей промышленности.</li>
			<li>Оборудование для создания АСУ ТП любого уровня сложности.</li>
			<li>Участие в подготовке специалистов КИПиА: более 150 вузов РФ и СНГ оснащены приборами ОВЕН.</li>
			<li>Участие в российской программе импортозамещения.</li>
		</ul>	
	</div>

    <div class="w3-container">
		<h2>Надежность и качество</h2>
 		<ul class="w3-padding" style="list-style-type:disc;">	
			<li>Собственное производство с современным оснащением для серийного выпуска приборов.</li>
			<li>Применение комплектующих известных и признанных брендов при производстве приборов ОВЕН.</li>
			<li>Многоступенчатая система испытаний и тестирования изделий: на соответствие метрологическим характеристикам и климатическим нормам, ЭМС и помехоустойчивость, прочность и виброустойчивость.</li>
			<li>Гарантия на оборудование ОВЕН – до 5 лет.</li>
			<li>Сертификат соответствия ГОСТ Р ИСО 9001-2015</li>
		</ul>	
	</div>

    <div class="w3-container">
		<h2>Ориентация на клиента</h2>
 		<ul class="w3-padding" style="list-style-type:disc;">		
			<li>Бесплатная техническая поддержка 24 × 7: круглосуточно в рабочие и выходные дни.</li>
			<li>Более 130 дилеров – во всех регионах РФ и странах СНГ.</li>
			<li>Сеть авторизованных сервисных центров на территории РФ и стран СНГ.</li>
			<li>К продукции ОВЕН прилагается подробная техническая документация и бесплатное ПО.</li>
			<li>Бесплатные семинары и вебинары для партнеров и клиентов.</li>
			<li>Форум ОВЕН – площадка для свободного общения, оперативных консультаций.</li>
		</ul>	
	</div>

</div> 
{% endblock %} 