{% extends 'base.html' %}


{% block title %} Owen Agriculture - О компании {% endblock %}

{% block content %}
<div class="container w3-card base-content-width base-content-height">
<div class="container py-4" style="max-width: 1000px"> 

 	<h2 class="text-dark-teal text-center">О КОМПАНИИ</h2>

    <div class="container-fluid">
 		<h3 class="text-dark-teal">27 лет на рынке автоматизации</h3>
		<p>Компания ОВЕН – ведущий российский разработчик и производитель контрольно-измерительных приборов и средств автоматизации для различных отраслей промышленности. <br/>  

		Компания работает с 1991 года. За 27 лет тысячи предприятий автоматизировали свои технологические процессы, используя компоненты автоматики ОВЕН. Продукция ОВЕН применяется в машиностроении и металлургии, химических и нефтехимических производствах, строительной и деревообрабатывающей отраслях, пищевой и упаковочной промышленностях, медицине, энергетике, ЖКХ, сельском хозяйстве и других сферах.</p>
    </div>

    <div class="container-fluid">
    	<h3 class="text-dark-teal">Преймущества сотрудничества с компанией ОВЕН</h3>
		<p> <b>Сервис.</b> Компания ОВЕН предоставляет услуги по сервису оборудования для систем
		микроклимата, установленному в хозяйствах, в самые кратчайшие сроки. В зависимости
		от месторасположения хозяйств решение проблемы осуществляется в сроки от 2 до 7
		рабочих дней. <br>

		<b>Профессионализм.</b> Компания ОВЕН имеют профессиональную команду разработчиков
		АСУ способных разработать автоматизированную систему микроклимата для
		свинокомкомплекса любой сложности. Мы можем предоставить вам системы управления
		с функционалом соответствующим мировым стандартам, а также модифицировать или
		разработать системы управления с учетом вашей технологии выращивания свиней и птиц. <br>

		<b>Надёжность.</b> Компания ОВЕН является производителеи собственной автоматики.
		Многоступенчатая система испытаний и тестирования изделий: на соответствие
		метрологическим характеристикам и климатическим нормам, ЭМС и помехоустойчивость.
		Использование компонентов известных брендов при производстве приборов ОВЕН. <br>

		<b>Ориентация на сотрудничество.</b> Деятельность компании ОВЕН построена на принципах
		порядочности, профессионализма, надежности и высоких стандартах качества. Мы
		стремимся удовлетворять все, даже самые сложные запросы заказчиков, беречь
		их время и ресурсы, обеспечивать только качественными товарами и услугами. Мы
		заинтересованы в установлении долгосрочных партнерских взаимовыгодных отношений
		со всеми нашими поставщикам и и потребителями. </p>
    </div>

    <div class="container-fluid">
		<h3 class="text-dark-teal">Лидер рынка</h3>
 		<p class="pl-4">
			<span class="text-dark-teal fa fa-check-circle pr-2"></span> Более 200 наименований продукции для различных отраслей промышленности. <br/> 
			<span class="text-dark-teal fa fa-check-circle pr-2"></span> Оборудование для создания АСУ ТП любого уровня сложности. <br/> 
			<span class="text-dark-teal fa fa-check-circle pr-2"></span> Участие в подготовке специалистов КИПиА: более 150 вузов РФ и СНГ оснащены приборами ОВЕН. <br/> 
			<span class="text-dark-teal fa fa-check-circle pr-2"></span> Участие в российской программе импортозамещения. <br/> 
		</p>	
	</div>

    <div class="container-fluid">
		<h3 class="text-dark-teal">Надежность и качество</h3>
			<p class="pl-4">
				<span class="text-dark-teal fa fa-check-circle pr-2"></span> Собственное производство с современным оснащением для серийного выпуска приборов. <br/> 
				<span class="text-dark-teal fa fa-check-circle pr-2"></span> Применение комплектующих известных и признанных брендов при производстве приборов ОВЕН. <br/> 
				<span class="text-dark-teal fa fa-check-circle pr-2"></span> Многоступенчатая система испытаний и тестирования изделий: на соответствие метрологическим характеристикам и климатическим нормам, ЭМС и помехоустойчивость, прочность и виброустойчивость. <br/> 
				<span class="text-dark-teal fa fa-check-circle pr-2"></span> Гарантия на оборудование ОВЕН – до 5 лет. <br/>
				<span class="text-dark-teal fa fa-check-circle pr-2"></span> Сертификат соответствия ГОСТ Р ИСО 9001-2015
			</p>
	</div>

    <div class="w3-container">
		<h3 class="text-dark-teal">Ориентация на клиента</h3>
 		<p class="pl-4">		
			<span class="text-dark-teal fa fa-check-circle pr-2"></span> Бесплатная техническая поддержка 24 × 7: круглосуточно в рабочие и выходные дни. <br/>
			<span class="text-dark-teal fa fa-check-circle pr-2"></span> Более 130 дилеров – во всех регионах РФ и странах СНГ. <br/>
			<span class="text-dark-teal fa fa-check-circle pr-2"></span> Сеть авторизованных сервисных центров на территории РФ и стран СНГ. <br/>
			<span class="text-dark-teal fa fa-check-circle pr-2"></span> К продукции ОВЕН прилагается подробная техническая документация и бесплатное ПО. <br/>
			<span class="text-dark-teal fa fa-check-circle pr-2"></span> Бесплатные семинары и вебинары для партнеров и клиентов. <br/>
			<span class="text-dark-teal fa fa-check-circle pr-2"></span> Форум ОВЕН – площадка для свободного общения, оперативных консультаций. <br/>
		</p>	
	</div>
</div> 
</div>
{% endblock %} 