{% extends 'base.html' %}


{% block title %} Owen Agriculture - Контакты {% endblock %}

{% block content %}
<div class="container w3-card" style="max-width: 1140px; min-height: 70vh;">
<div class="container py-4" style="max-width: 700px"> 
    <div class="container-fluid">
		<h3 class="text-dark-teal">Центральный офис</h3>
		<div class="w3-text-dark-grey">
			<p>
        <b>Адрес центрального офиса:</b> 111024, Москва, 2-я ул. Энтузиастов, д.5, корп.5 (на территории завода «Компрессор»). <br/>
			 <b>Режим работы:</b> понедельник – пятница с 9.00 до 17.30 (без перерыва) <br/>
			 <b>Адрес для писем:</b> 111024, Москва, 2-я ул. Энтузиастов, д. 5, корп. 5, компания ОВЕН. <br/>
      </p>
		</div> 
	</div>
    <div class="container-fluid">
		<h3 class="text-dark-teal">Отдел продаж</h3>
		<div class="w3-text-dark-grey">
			<p>
        <b>Отраслевой менеджер БН «Животноводство»:</b> Бакун Андрей Владимирович <br/>
  			<b>Телефон:</b> +7(495) 64-111-56 доб. 2302 <br/>
  			<b>Мобильный:</b> +7(962) 302-69-16 <br/>
  			<b>Электронная почта:</b> a.bakun@owen.ru <br/>
      </p> 
		</div> 	
	</div>
	<div class="container-fluid">
		<h3 class="text-dark-teal">Техническая поддержка</h3>
		<div class="w3-text-dark-grey">
			<p>
        <b>Инженер по системам управления микроклиматом:</b> Гомонилов Роман Владимирович <br/>
			  <b>Телефон:</b> +7 (495) 64-111-56 доб. 2301 <br/> 
			  <b>Мобильный:</b> +7 (962) 302-68-75 <br/> 
        <b>Skype:</b> r.gomonilov_owen <br/>
			  <b>Электронная почта:</b> r.gomonilov@owen.ru <br/>
      </p> 
		</div> 	
	</div>
</div>
</div>
{% endblock %}