{% extends 'base.html' %}


{% block title %} Owen Agriculture - Контакты {% endblock %}

{% block content %}
<div class="py-4"> 
    <div class="w3-container">
		<h2>Контакты</h2>
		<div class="w3-text-dark-grey">
			<p><b>Адрес офиса для самовывоза продукции ОВЕН и срочного ремонта:</b> Москва, 1-я ул. Энтузиастов, д. 15, стр. 1</p> 
			<p><b>Режим работы:</b> понедельник – пятница с 9.00 до 17.30 (без перерыва)</p> 
			<p><b>Адрес центрального офиса:</b> 111024, Москва, 2-я ул. Энтузиастов, д.5, корп.5 (на территории завода «Компрессор»).</p> 
			<p><b>Единая диспетчерская служба:</b> +7 (495) 64-111-56; +7 (495) 727-30-16; 8-800-775-6383, факс: +7 (495)728-41-45,</p>  
			<p><b>Техническая поддержка</b>  8-800-775-6383 24/7</p> 
			<p><b>Адрес офиса Группы технической поддержки:</b> Москва, 2-я ул. Энтузиастов, д. 5, корп. 36</p>
			<p><b>Адрес для писем:</b> 111024, Москва, 2-я ул. Энтузиастов, д. 5, корп. 5, компания ОВЕН.</p>
		</div> 
	</div>
    <div class="w3-container">
		<h3>Как добраться:</h3>
 		<ul class="w3-text-dark-grey" style="padding-left: 15px; list-style-type:disc;">
			<li><p><b>на метро:</b> до станции м. Авиамоторная, из перехода – 1-й выход налево, пройти под автомобильной эстакадой к платформе «Новая», пройти вдоль платформы «Новая» до конца, перейти через ж/д пути по пешеходному мосту, далее по схеме.</p></li>
			<li><p><b>на электричке:</b> с Казанского вокзала до платформы Новая, подняться на мост через ж/д пути, повернуть направо, из турникетов – направо – вдоль платформы «Новая», к магазину «Энтузиаст», далее по схеме.</p></li>
			<li><p><b>на автомобиле:</b> по шоссе Энтузиастов, далее по схеме.</p></li>
		</ul>	
	</div>
</div>
{% endblock %}