{% extends 'base_with_banner.html' %}
{% load static %}

{% block title %} Owen Agriculture {% endblock %}

{% block content %} 

<div class="w3-content" style="max-width:1140px; "> 

  <h1 class="w3-container"><b>СИСТЕМЫ АВТОМАТИЗАЦИИ</b></h1>

  <div class="w3-row-padding">
  	<div class="w3-display-container w3-half w3-margin-bottom" >
  		<div class="w3-round" style="max-height: 540px; overflow: hidden;">
	    	<img style="width:100%;" src="{% static 'img/chicken_icon.png' %}" alt="chicken" >
		    <div class="w3-center w3-display-bottommiddle w3-text-white" style="width:calc(100% - 15px); height: 110px; background-color: rgba(0, 143, 134, 0.45)">
	      		<h1><b>ПТИЦЕВОДСТВО</b></h1>
	        </div>
        </div>
    </div>    
    
  	<div class="w3-display-container w3-half w3-margin-bottom">
  		<div class="w3-round" style="max-height: 540px; overflow: hidden;">
	    	<img style="width:100%;" src="{% static 'img/pigs_icon.png' %}" alt="pigs" >
		    <div class="w3-center w3-display-bottommiddle w3-text-white" style="width:calc(100% - 15px); height: 110px; background-color: rgba(0, 143, 134, 0.45)">
	      		<h1><b>СВИНОВОДСТВО</b></h1>
	        </div>
        </div>       
    </div>

  </div>
</div>
{% endblock %}