{% load static %}

<div class="w3-content base-content-width">
  <div id="demo" class="carousel slide" data-ride="carousel">

    <!-- Indicators -->
    <ul class="carousel-indicators">
      {% for b in banners %}
        <li data-target="#demo" data-slide-to="{{forloop.counter0}}" {% if forloop.first %}class="active"{% endif %}></li>
      {% endfor %}
    </ul>

    <!-- The slideshow -->
    <div class="carousel-inner">
      {% for b in banners %}
        <div class="carousel-item {% if forloop.first %}active{% endif %}">
          <img src="{{b.banner_image.url}}" alt="banner_{{forloop.counter0}}" style="width:100%;">
        </div>
      {% endfor %}
    </div>
    
    <!-- Left and right controls -->
    <a class="carousel-control-prev" href="#demo" data-slide="prev">
      <span class="carousel-control-prev-icon"></span>
    </a>
    <a class="carousel-control-next" href="#demo" data-slide="next">
      <span class="carousel-control-next-icon"></span>
    </a>
  </div>
</div>


