
/* override color scheme */

.w3-teal, .w3-hover-teal:hover {
	color: #fff !important; 
	background-color: rgb(0, 143, 134) !important; }

.w3-dark-teal, .w3-hover-dark-teal:hover {
	color: #fff !important; 
	background-color: rgb(27, 107, 101) !important; }


/* my style */
.background-opacity-teal, .hover-background-opacity-teal:hover {
	color: #fff !important; 
	background-color: rgba(0, 143, 134, 0.45) !important; 
}

.my-border-light-grey {
	border-color: rgb(230, 230, 230) !important;
}


@media (min-width:1450px) { .h0 {display:none !important;} }
@media (max-width:1450px) { .h1 {display:none !important;} }
@media (max-width:1300px) { .h2 {display:none !important;} }
@media (max-width:1150px) { .h3 {display:none !important;} }
@media (max-width:1000px) { .h4 {display:none !important;} }
@media (max-width:850px)  { .h5 {display:none !important;} }


