{% extends 'base_with_banner.html' %}


{% block title %} Owen Agriculture - Проекты {% endblock %}

{% block content %} 
	<div class="w3-container "> 
		<h2 class="w3-center w3-border-bottom">{{project.header}}</h2>
		<div class="w3-row">
			{% if project.image %}
				<div class="w3-display-container w3-third w3-card-2 w3-margin-right" style="height: 400px;">
					<img src="{{project.image.url}}" alt="{{project.header}}" class="w3-display-middle" style="max-width: 90%; max-height: 90%">
				</div>
			{% endif %}

			<div class="w3-rest">
				<p class="w3-large">{{project.text}}</p>
			</div>
		</div>
	</div>
	<br>
{% endblock %}