{% extends 'base.html' %}


{% block title %} Owen Agriculture - Проекты {% endblock %}

{% block content %}
<div class="p-3 w3-card" style="min-height: 70vh;">
	<h2>Реализованные проекты</h2>

	{% if projects_list %}
		<div class="conteiner-fluid">
		{% for project in projects_list %}
			<div class="conteiner-fluid w3-border-bottom p-0 m-0 mb-3">
			<div class="w3-row">
				{% if project.image %}
					<a href="{% url 'projects:project_detail' project.id %}" style="text-decoration: none;" >
						<div class="w3-quarter mr-3 mt-1 mb-3 w3-center">
							<img src="{{project.image.url}}" alt="{{project.header}}"  style="max-width: 100%; max-height: 200px;">
						</div>
					</a>
				{% endif %}
				<div class="w3-rest w3-mobile">
					<p class="badge badge-secondary float-right w3-medium p-1 ml-3 my-1">{{project.pub_date}}</p>
					<a href="{% url 'projects:project_detail' project.id %}" style="text-decoration: none;" >
						<h3 class="w3-xlarge text-teal w3-hover-text-blue mb-1">{{project.header}}</h3>
					</a>
					<p class="w3-medium">{{project.short_description}}</p>
				</div>
			</div>
			</div>

		{% endfor %}
		</div>


	{% else %}
		<br>
		<p class="w3-panel w3-card-2 bg-warning p-2" style="height: 60px;">На текущий момент проекты отсутствуют.</p>
	{% endif %}

</div>
{% endblock %}