{% extends 'base.html' %}
{% load static %}


{% block title %} Owen Agriculture - Птицеводство {% endblock %}

{% block content %} 
	{% if topics %}
		{% for topic in topics %}
			<div class="w3-container">
				<h2 class="w3-border-bottom">{{topic.headline}}</h2>
			</div>

			<div class="w3-row-padding ">
			{% for key, val in items.items %}
				{% if key == topic.headline  %}
					{% if val %}
						{% for item in val %}
							<div class="w3-col m4 l3 w3-margin-bottom ">
								<a href="{% url 'products:product_detail' item.id %}" style="text-decoration: none;" >
									<div class="w3-card-2 w3-container w3-hover-teal">
										<div class="w3-display-container w3-margin-top w3-white w3-hower-white w3-border my-border-light-grey" style="height: 200px;">
											<img src="{{item.image.url}}" alt="{{item.name}}" class="w3-display-middle" style="max-width: 90%; max-height: 90%">
										</div>
										<h5>{{item.name}}</h5>
										<p class="w3-small">{{item.short_description}}</p>
									</div>
								</a>
							</div>
						{% endfor %}
					{% else %}
							<div class="w3-quarter">
								<div class="w3-card-2 w3-container w3-margin-bottom w3-pale-red" style="height: 60px;">
									<p>Продукты не найдены</p>
								</div>
							</div>
					{% endif %}
				{% endif %}
			{% endfor %}
			</div>

		{% endfor %}
	{% else %}
		<br>
		<p class="w3-panel  w3-card-2 w3-pale-red" style="height: 60px;">Каталог не доступен</p>
	{% endif %}
	<br>
{% endblock %}
