{% extends 'base.html' %}
{% load static %}
{% load django_bootstrap_breadcrumbs %}

{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb "Главная" "/" %}
	
	{% if catalog == 'pigsty' %}
    	{% breadcrumb "Свиноводство" "products:pigsty_catalog" %}
    {% elif catalog == 'poultry' %}
    	{% breadcrumb "Птицеводство" "products:poultry_catalog" %}
    {% else %}
    	{% breadcrumb "Каталог" "products:full_catalog" %}
    {% endif %}
{% endblock %}


{% block title %} Owen Agriculture - {{title}} {% endblock %}

{% block scrollable %} data-spy="scroll" data-target="#myScrollspy" data-offset="1" {% endblock %}
{% block content %}
	{% if topics %}
	<div class="container-fluid m-0" >
	  <div class="row" style="min-height: 70vh;">

	    <!-- navbar -->
	    <nav class="col-1 col-lg-3 my-light-grey w3-card p-0" id="myScrollspy" style="min-width:80px; max-width:250px;">
	      <nav class="sidebar mt-0" style="max-width:250px;">
	      	<!-- on larg screen -->
	        <ul class="nav nav-pills flex-column py-2 mx-2 d-none d-lg-inline-block">
	          {% for topic in topics %}
	            <li class="nav-item">
	              <a class="nav-link round-0 w3-border-bottom w3-hover-teal w3-medium text-nowrap p-1 mt-1" href="#topic{{forloop.counter}}" style="">
	              	<span class="topic-icon w3-xlarge {{topic.icon_class}} p-1" ></span>
	              	<span class="p-1">{{topic.headline}}</span>
	              </a>
	            </li>
	          {% endfor %}
	        </ul>
	        <!-- on small screen -->
	       	<ul class="nav nav-pills flex-column py-2 mx-2 d-lg-none">
	          {% for topic in topics %}
	            <li class="nav-item">
	              <a class="nav-link round-0 w3-border-bottom w3-hover-teal w3-medium p-1 mt-1 text-center" href="#topic{{forloop.counter}}" style="">
	              	<span class="topic-icon w3-xlarge {{topic.icon_class}} p-1" style="width: 60px"></span>
	              </a>
	            </li>
	          {% endfor %}
	        </ul>
	      </nav>
	    </nav>

		<div class="col pr-0">
		{% for topic in topics %}
			<div id='topic{{forloop.counter}}' class="anchor"></div>
			<div class="container-fluid p-0 m-0">
				<h1 class="w3-border-bottom w3-xlarge text-dark py-1 m-0">{{topic.headline}}</h1>
			</div>

			<div class="row p-2 m-0">
				{% for key, val in items.items %}
					{% if key == topic.headline  %}
						{% if val %}
							{% for item in val %}
								<div class="col-md-3 col-sm-4 mb-3 catalog-card px-2">
									<a href="{% url 'products:product_detail' item.id %}?catalog={{catalog}}" style="text-decoration: none;" >

										<div class="container-fluid w3-card m-0 p-0 pt-2 h-100">
											<div class="w3-display-container w3-white my-0 mx-2 p-0" style="height: 180px;">
												<img src="{{item.image.url}}" alt="{{item.name}}" class="w3-display-middle">
											</div>
											<div class="w3-border-top my-border-light-grey text-dark mx-3 my-2 px-0 py-2">
												<h5 class="w3-medium catalog-card-header font-weight-bold mb-1">{{item.model}}</h5>
												<p class="w3-medium m-0">{{item.short_description}}</p>
											</div>
										</div>

									</a>
								</div>
							{% endfor %}
						{% else %}
								<div class="col-3">
									<div class="w3-card-2 w3-container w3-margin-bottom w3-pale-red" style="height: 60px;">
										<p>Продукты не найдены</p>
									</div>
								</div>
						{% endif %}
					{% endif %}
				{% endfor %}
				</div>

			{% endfor %}
		</div>
	  </div>
	</div>
	{% else %}
		<br>
		<p class="w3-panel  w3-card-2 bg-warning p-2" style="height: 60px;">На текущий момент в данном каталоге нет продуктов.</p>
		<br>
	{% endif %}
{% endblock %}


{% block sticky_sidebar_script %}
  {% include "products/sticky_sidebar_script.html" %}
{% endblock %}