{% extends 'base.html' %}
{% load static %}
{% load django_bootstrap_breadcrumbs %}

{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb "Главная" "/" %}
	
	{% if catalog == 'pigsty' %}
    	{% breadcrumb "Свиноводство" "products:pigsty_catalog" %}
    {% elif catalog == 'poultry' %}
    	{% breadcrumb "Птицеводство" "products:poultry_catalog" %}
    {% else %}
    	{% breadcrumb "Каталог" "products:full_catalog" %}
    {% endif %}
{% endblock %}


{% block title %} Owen Agriculture - {{title}} {% endblock %}

{% block content %} 
	{% if topics %}
		{% for topic in topics %}
			<div class="container-fluid p-0">
				<h1 class="w3-border-bottom w3-xlarge text-dark py-1">{{topic.headline}}</h2>
			</div>

			<div class="row px-2">
			{% for key, val in items.items %}
				{% if key == topic.headline  %}
					{% if val %}
						{% for item in val %}
							<div class="col-md-3 col-sm-4 mb-3 px-2">
								<a href="{% url 'products:product_detail' item.id %}?catalog={{catalog}}" style="text-decoration: none;" >
									<div class="container-fluid w3-card m-0 py-3 h-100 w3-hover-teal text-dark">
										<div class="w3-display-container w3-white w3-hower-white w3-border-bottom my-border-light-grey" style="height: 180px;">
											<img src="{{item.image.url}}" alt="{{item.name}}" class="w3-display-middle" style="max-width: 90%; max-height: 90%">
										</div>
										<h5 class="w3-medium mt-2">{{item.name}}</h5>
										<p class="w3-small ">{{item.short_description}}</p>
									</div>
								</a>
							</div>
						{% endfor %}
					{% else %}
							<div class="col-3">
								<div class="w3-card-2 w3-container w3-margin-bottom w3-pale-red" style="height: 60px;">
									<p>Продукты не найдены</p>
								</div>
							</div>
					{% endif %}
				{% endif %}
			{% endfor %}
			</div>

		{% endfor %}
	{% else %}
		<br>
		<p class="w3-panel  w3-card-2 bg-warning p-2" style="height: 60px;">На текущий момент в данном каталоге нет продуктов.</p>
	{% endif %}
	<br>
{% endblock %}
