product_detail.html
{% extends 'base.html' %}
{% load django_bootstrap_breadcrumbs %}

{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb "Главная" "/" %}
	
	{% if catalog == 'pigsty' %}
    	{% breadcrumb "Свиноводство" "products:pigsty_catalog" %}
    {% elif catalog == 'poultry' %}
    	{% breadcrumb "Птицеводство" "products:poultry_catalog" %}
    {% else %}
    	{% breadcrumb "Каталог" "products:full_catalog" %}
    {% endif %}

    {% breadcrumb product.model "products:product_detail" product.id  %}
{% endblock %}

{% block title %} Owen Agriculture - {{product.model}} {% endblock %}

{% block scrollable %} data-spy="scroll" data-target="#myScrollspy" data-offset="1" {% endblock %}
{% block content %}
<div>
<div class="container-fluid m-0" >
  <div class="row" style="min-height: 70vh;">

    <!-- navbar -->
    <nav class="col-3 my-light-grey sidebar-shadow" id="myScrollspy" style="width:260px;">
      <nav class="sidebar mt-0" style="width:260px;">
        <a href="#top" style="text-decoration: none;">
          <div class="w3-display-container m-0" style="height: 200px;">
            <img src="{{product.image.url}}" alt="{{product.name}}" class="w3-display-middle" style="max-width: 100%; max-height: 100%">
          </div>
          <h4 class="w3-center w3-large text-dark m-0"><b>{{product.model}}</b></h4>
        </a>

        <ul class="nav nav-pills flex-column py-2">
          {% for s in spec %}
            <li class="nav-item">
              <a class="nav-link round-0 w3-border-bottom w3-hover-teal w3-small p-1 pt-2" href="#section{{forloop.counter}}">{{s.header}}</a>
            </li>
          {% endfor %}
        </ul>
      </nav>
    </nav>


    <!-- product description -->
    <div class="col-9">
      <div id="top" class="anchor" style="top: -130px;"></div>
      <h2 class="w3-border-bottom">{{product.name}}</h2>
      <div class="w3-display-container" style="height: 300px;">
        <img src="{{product.image.url}}" alt="{{product.name}}" class="w3-display-middle" style="max-width: 90%; max-height: 90%">
      </div>

      {% for s in spec %}
      <div id="section{{forloop.counter}}" class="anchor"></div>
        <div class="w3-panel w3-light-grey w3-large w3-padding">{{s.header}}</div>
        <div class="w3-margin-left">
          <p class="w3-large">{{s.specification|safe}}</p>
        </div>
      
      {% endfor %}
    </div>


  </div>
</div>
</div>

{% endblock %}


{% block sticky_sidebar_script %}
  {% include "products/sticky_sidebar_script.html" %}
{% endblock %}