
:root {
	/* colors */	
	--color-orange: #f58220;
	--color-red: #9f0412;  
	--color-blue: #034ea2;  
	--color-light-blue: #009bdf;  
	--color-violet: #662d91;  
	--color-green: #00905e;  

	--color-light-grey: #f9f9f9; 
	--color-grey: #ededed; /* d0d8db - is used for icon */
	--color-dark-grey: rgb(50, 50, 50);	

	--color-granite: #54686f;
	--color-teal: rgb(0, 143, 134);
	--color-dark-teal: rgb(27, 107, 101);
	--color-opacity-teal: rgba(0, 143, 134, 0.45);

	--color-base-text: #343536;

	/* sizes */
	--width-base-content: 1570px;
	--width-secondary-content: 1170px;
	--height-base-content: 72vh;
}

/* --------------------------------------------------------------------------- */
/* colors */
.bg-teal, .bg-hover-teal:hover {
	color: #fff !important; 
	background-color: var(--color-teal) !important; }

.bg-dark-teal, .bg-hover-dark-teal:hover {
	color: #fff !important; 
	background-color: var(--color-dark-teal) !important; }

.bg-opacity-teal, .bg-hover-opacity-teal:hover {
	color: #fff !important; 
	background-color: var(--color-opacity-teal) !important;  }

.bg-light-grey, .bg-hover-light-grey:hover{
	color: #000 !important; 
	background-color: var(--color-light-grey) !important; }

.bg-grey, .bg-hover-grey:hover{
	color: #000 !important; 
	background-color: var(--color-grey) !important; }

.bg-granite, .bg-hover-granite:hover {
	color: #fff !important; 
	background-color: var(--color-granite) !important; }

.bg-red, .bg-hover-red:hover {
	color: #fff !important; 
	background-color: var(--color-red) !important; }

.bg-violet, .bg-hover-violet:hover {
	color: #fff !important; 
	background-color: var(--color-violet) !important; }

.bg-blue, .bg-hover-blue:hover {
	color: #fff !important; 
	background-color: var(--color-blue) !important; }

.bg-orange, .bg-hover-orange:hover {
	color: #fff !important; 
	background-color: var(--color-orange) !important; }

.bg-green, .bg-hover-green:hover {
	color: #fff !important; 
	background-color: var(--color-green) !important; }

.border-light-grey {
	border-color: var(--color-light-grey) !important; }

.border-grey {
	border-color: var(--color-grey) !important; }

.border-violet {
	border-color: var(--color-violet) !important; }

.border-blue {
	border-color: var(--color-blue) !important; }

.border-orange {
	border-color: var(--color-orange) !important; }

.border-green {
	border-color: var(--color-green) !important; }

.border-teal {
	border-color: var(--color-teal) !important; }

.text-teal{
	color: var(--color-teal) !important; }

.text-dark-teal{
	color: var(--color-dark-teal) !important; }

.text-dark{
	color: var(--color-base-text) !important; }

.text-dark-grey{
	color: var(--color-base-text) !important; }

.text-hover-dark-teal:hover{
	color: var(--color-dark-teal) !important; }

.bg-transition {
	transition: background-color 300ms, color 300ms;
}

/* --------------------------------------------------------------------------- */
/* sizes */
.base-content-width {
	max-width: var(--width-base-content);
}
.secondary-content-width {
	max-width: var(--width-secondary-content);
}
.base-content-height {
	min-height: var(--height-base-content);
}


/* --------------------------------------------------------------------------- */
.animate .animate-left, .animate-right {
	display: none !important;
	transition: 250ms all;
}

.animate:hover .animate-left {
	animation:animateleft 0.3s;
	display: block !important;
} @keyframes animateleft{from{left:-300px;opacity:0} to{left:0;opacity:1}}

.animate:hover .animate-right {
	animation:animateright 0.3s;
	display: block !important;
} @keyframes animateright{from{right:-300px;opacity:0} to{right:0;opacity:1}}


.animate-opacity{
	animation:opac 2s
}@keyframes opac{from{opacity:0.7} to{opacity:1}}


/* --------------------------------------------------------------------------- */
.sidebar{}
.stickytop {
	position:fixed !important;
	top: 90px;
}
.hidden-sidebar {
	position: absolute;
	top: 0px;
	left: -400px;
	z-index: 1000;
	width: 300px;
	transition: left 500ms;
}
 .hidden-sidebar-content {
	min-width: 300px; 
	height: 100%; 
	overflow: auto; 
	position: fixed;
}



.nav-link.active  {
 	color: #fff !important; 
	background-color: rgb(0, 143, 134) !important;
}


/* --------------------------------------------------------------------------- */
.topic-icon  {
	font-size:20px;   
	display: inline-block;
  	vertical-align: middle;
  	line-height: normal; 
  	padding: 0;
  	margin: 0;
}

a .topic-icon {
	color: rgb(0, 143, 134);
}
a:hover .topic-icon {
	color: white;
}

.active .topic-icon {
	color: white;
}

.footer-logo-owen {
	display: inline-block;
  	vertical-align: middle;
}

.anchor {
    display: block;
    position: relative;
    top: -100px;
    visibility: hidden;
}
@media (max-width:768px){
.anchor {
    top: -10px;
}
}


@media (max-width:768px){
.border-hide-sm {
	border:0!important
}
}

@media (max-width:992px){
.border-hide-md {
	border:0!important
}
}



.article-list .banner-image {
	width: 100%;
}
@media (max-width:600px){
.article-list .banner-image {
	width: 60%;
}
}

/* --------------------------------------------------------------------------- */
.header-font, .text-font, p, h1, h2, h3, h4, h5, h6, a, .h1, .h2, .h3, .h4, .h5, .h6 {
	font-family: 'Roboto', Arial, "Lucida Grande", sans-serif;
}  

.header-font {
    font-weight: 400;
    line-height: 1.6;
}
.text-font {
    font-weight: 400;
    line-height: 1.6;
}

.text-font-1 {
	font-size: 14px;
    line-height: 26px;
    font-weight: 300;
}

/* --------------------------------------------------------------------------- */
.catalog-card img {
	max-width: 85%; 
	max-height: 85%;
	transition: max-width 300ms, max-height 300ms;
}
.catalog-card:hover img {
	max-width: 100%; 
	max-height: 100%;
}
.catalog-card .catalog-card-header {
	color: var(--color-base-text) !important;
	transition: color 300ms;
}
.catalog-card:hover .catalog-card-header {
	color: var(--color-red) !important;
}

