
/* override color scheme */
.w3-teal, .w3-hover-teal:hover {
	color: #fff !important; 
	background-color: rgb(0, 143, 134) !important; }

.w3-dark-teal, .w3-hover-dark-teal:hover {
	color: #fff !important; 
	background-color: rgb(27, 107, 101) !important; }



/* my style */
.background-opacity-teal, .hover-background-opacity-teal:hover {
	color: #fff !important; 
	background-color: rgba(0, 143, 134, 0.45) !important; 
}

.my-border-light-grey {
	border-color: rgb(230, 230, 230) !important;
}
.my-light-grey, .my-hover-light-grey:hover{
	color: #000 !important; 
	background-color: rgb(249, 249, 249) !important; }


.text-teal{
	color: rgb(0, 143, 134) !important;
}
.text-dark-teal{
	color: rgb(27, 107, 101) !important;
}
.text-dark{
	color: rgb(50, 50, 50) !important;
}


.animate .animate-left, .animate-right {
	display: none !important;
	transition: 250ms all;
}

.animate:hover .animate-left {
	animation:animateleft 0.3s;
	display: block !important;
} @keyframes animateleft{from{left:-300px;opacity:0} to{left:0;opacity:1}}

.animate:hover .animate-right {
	animation:animateright 0.3s;
	display: block !important;
} @keyframes animateright{from{right:-300px;opacity:0} to{right:0;opacity:1}}


.animate-opacity{
	animation:opac 2s
}@keyframes opac{from{opacity:0.7} to{opacity:1}}


.sidebar {}
.stickytop {
	position:fixed !important;
	top: 90px;
}

.nav-link.active  {
 	color: #fff !important; 
	background-color: rgb(0, 143, 134) !important;
}


.topic-icon  {
	font-size:20px;   
	display: inline-block;
  	vertical-align: middle;
  	line-height: normal; 
  	padding: 0;
  	padding-right: 4px; 
  	margin: 0;
}

a .topic-icon {
	color: rgb(0, 143, 134);
}
a:hover .topic-icon {
	color: white;
}

.footer-logo-owen {
	display: inline-block;
  	vertical-align: middle;
}

.sidebar-shadow{
	box-shadow:-5px 0 5px -2px rgba(0,0,0,0.16), 5px 0 5px -2px rgba(0,0,0,0.12);
}

.anchor {
    display: block;
    position: relative;
    top: -85px;
    visibility: hidden;
}


@media (max-width:768px){
.border-hide-sm {
	border:0!important
}
}

@media (max-width:992px){
.border-hide-md {
	border:0!important
}
}
