
.breadcrumbs-container {
	background-color: rgb(233, 236, 239) !important;
	margin-top:0;
	margin-bottom:0;
}
.breadcrumb {
	color: rgb(160, 160, 160) !important; 
	background-color: rgb(233, 236, 239) !important;
	margin-top:0;
	margin-bottom:0;
	padding-left: 16px;
	padding-top: 8px;
	padding-bottom: 8px;
}
.breadcrumb .divider {
	margin-left: 10px;
	margin-right: 10px;
}
.breadcrumb ul, .breadcrumb li{
	list-style-type: none;
	display: inline;
	font-size: 15px;
}
.breadcrumb a{
	text-decoration: none;
}
.breadcrumb a:hover {
    color: rgb(27, 107, 101);
}