
.breadcrumbs-container {
	background-color: white;
	margin-top:0;
	margin-bottom:0;
}
.breadcrumb {
	color: #6b7075; 
	background-color: white;
	font-size: 13px;
    line-height: 19px;
    font-weight: 300;
	margin-top:10px;
	margin-bottom:0;
	padding-left: 16px;
	padding-top: 8px;
	padding-bottom: 8px;
}
.breadcrumb .divider {
	margin-left: 10px;
	margin-right: 10px;
}
.breadcrumb ul, .breadcrumb li{
	list-style-type: none;
	display: inline;
	font-size: 15px;
}
.breadcrumb a{
	color: #6b7075; 
}
.breadcrumb a:hover {
    color: var(--color-red);
}