.main-icon-container {
  position: relative;
  width:400px;
  height: 250px;
  background: transparent;
  margin: 0;
}

.main-icon-container .main-icon-container-inner {
  position:relative;
  width: calc(400px - 30px);
  height: calc(250px - 30px);
  background: #000;
  margin: 15px;
  display: block;
  overflow: hidden;
  border: 4px solid black;
  border-radius: 10px;
}


.main-icon-container .main-icon-container-inner .main-icon-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #f00;
  transition: 0.5s;
  z-index: 1;
}

.main-icon-container .main-icon-container-inner .main-icon-image img {
  max-width: 70%;
  height: 80%;
  border:0; 
  display: block;
  margin: auto;
  padding-top: 10%;  
}

.main-icon-container .main-icon-container-inner:hover .main-icon-image {
  top: 20px;
  left: calc(50% - 40px);
  width: 80px;
  height: 80px;
  border-radius: 50%;
}


.main-icon-container .main-icon-container-inner .main-icon-image p {
  white-space: nowrap ;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 50px;
  transition: 0.5s;
  color: #fff;
}

.main-icon-container .main-icon-container-inner:hover .main-icon-image p {
  font-size: 25px;
}

.main-icon-container .main-icon-container-inner .main-icon-text {
  position: absolute;
  top: 100%;
  width: 100%;
  height: calc(100% - 100px);
  text-align: center;
  padding: 10px;
  box-sizing: border-box;
  transition: 0.5s;
  opacity: 0;
}

.main-icon-container .main-icon-container-inner:hover .main-icon-text {
    top: 100px;
    opacity: 1;

}

.main-icon-container .main-icon-container-inner .main-icon-text h3 {
  margin: 0 0 10px;
  padding: 0;
  color: #fff;
  font-size: 24px;
}

.main-icon-container .main-icon-container-inner .main-icon-text p {
  margin: 0;
  padding: 0;
  color: #fff;
}





.boxes-container .box:nth-child(1n) .box-inner .icon {
  background: #319635;
}
.boxes-container .box:nth-child(1n) .box-inner {
  background: #4caf50;
}
.boxes-container .box:nth-child(2n) .box-inner .icon {
  background: #d03852;
}
.boxes-container .box:nth-child(2n) .box-inner {
  background: #f54967;
}
.boxes-container .box:nth-child(3n) .box-inner .icon {
  background: #23798e;
}
.boxes-container .box:nth-child(3n) .box-inner {
  background: #328fa5;
}
